# Environments
myenv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd



# Data / experiments
datasets/
Solver/
FinalResults/
TestResults/

# Scripts (non-final)
scripts/demo/
scripts/test/
scripts/oldScripts/
scripts/PoT_testing/
